@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#__next {
  position: relative;
  overflow: hidden;
}

.sidebar {
  background-color: rgba(39, 38, 38, 0.432);
}
